{% extends 'base.html'%}

{% block content%}

<h1>Hello World</h1>
<br/>
<!-- Parsing though Python list-->
Observation Date: {{ api.0.DateObserved }} <br/>
Reporting Area: {{ api.0.ReportingArea}} <br/>
<br/>
<!-- Access O3 data from api content -->
Category: {{ api.0.ParameterName}}, {{ api.0.Category.Name}} <br/>
Air Quality: {{ api.0.AQI }} <br/>
<!--<h6>Category: {{ api.0.Category.Name}} </h6><br/>-->
<!-- Access PM2.5 data from api content -->
Category: {{ api.1.ParameterName}}, {{ api.1.Category.Name}} <br/>
Air Quality: {{ api.1.AQI }} <br/>
<!-- Access PM10 data from api content -->
Category: {{ api.2.ParameterName}}, {{ api.2.Category.Name}} <br/>
Air Quality: {{ api.2.AQI }} <br/>
{%endblock%}
